body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0;
}

input {
    width: 90%;
    max-width: 500px;
    height: 3rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #6665604f;
    color: #000000;
    box-sizing: border-box;
}

.dogs {
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-content: center;
    gap: 20px;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 10px;
}

.grid-item {
    width: 260px;
    height: 260px;
    background: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .dogs {
        max-width: 0px;
    }
}